{% block idci_step_form_html_row %}
    {{ form_widget(form) }}
{% endblock %}
{% block idci_step_form_html_widget %}
    <div class="html_text">
        {% spaceless %}
            {{ content | raw }}
        {% endspaceless %}
    </div>
{% endblock %}

{%- block idci_step_form_form_row -%}
    <div>
        {% if form.vars.display_title %}
            {{- form_label(form) -}}
        {% endif %}
        {{- form_errors(form) -}}
        {{- form_widget(form) -}}
    </div>
{%- endblock idci_step_form_form_row -%}

{% block idci_step_action_form_js_confirm_row %}
    {{ form_widget(form) }}
{% endblock %}
{% block idci_step_action_form_js_confirm_widget %}
    <script type="text/javascript">
        var observedItem = document.getElementById("{{ form.vars.observed_id }}");
        observedItem.addEventListener("click", function(event) {
            if (!confirm("{{ form.vars.message }}")) {
                event.preventDefault();
            }
        }, false);
    </script>
{% endblock %}