{%- block idci_step_step_form_row -%}
    {% if display_title %}
        {{- form_label(form) -}}
    {% endif %}
    {{- form_errors(form) -}}
    {{- form_widget(form) -}}
{%- endblock idci_step_step_form_row -%}

{%- block idci_step_step_form_html_row -%}
    {% set display_title = false %}
    {{- block('idci_step_step_form_row') -}}
{%- endblock idci_step_step_form_html_row -%}
{%- block idci_step_step_form_html_widget -%}
    {% apply spaceless %}
        {{ content | raw }}
    {% endapply %}
{%- endblock idci_step_step_form_html_widget -%}

{%- block idci_step_step_form_form_row -%}
    {{- block('idci_step_step_form_row') -}}
{%- endblock idci_step_step_form_form_row -%}

{%- block idci_step_action_form_js_confirm_row -%}
    {{ form_widget(form) }}
{%- endblock -%}
{%- block idci_step_action_form_js_confirm_widget -%}
    <script type="text/javascript">
        var observedItem = document.getElementById("{{ form.vars.observed_id }}");
        observedItem.addEventListener("click", function(event) {
            if (!confirm("{{ form.vars.message }}")) {
                event.preventDefault();
            }
        }, false);
    </script>
{%- endblock -%}

{%- block idci_step_action_form_go_next_widget -%}
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById("{{ form.vars.to_click_next_button_id }}").click();
        });
    </script>
{%- endblock -%}

{%- block button_widget -%}
    {%- if label is empty -%}
        {% set label = name|humanize %}
    {%- endif -%}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ label|trans({}, translation_domain) }}</button>
{%- endblock button_widget -%}

{%- block idci_step_action_form_link_row -%}
    <a href="{{ form.vars.href }}" target="{{ form.vars.target }}"{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</a>
{%- endblock idci_step_action_form_link_row -%}
